.detail {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-button {
  width: 3.7rem;
  text-align: center;
  background-color: #878787;
  color: white;
  padding: 0.5em 1em;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 0.6em;
  font-size: 0.7em;
  cursor: pointer;
}

.detail-button-export {
  width: 3.7rem;
  text-align: center;
  background-color: #878787;
  color: white;
  padding: 0.5em 1em;
  border: none;
  margin-top: 1em;
  border-radius: 0.6em;
  font-size: 0.7em;
  cursor: pointer;
}

input {
  height: 1.3rem;
}
