.dashboard-item h3 {
  text-align: center;
  margin-top: 0.8em;
  font-size: 1em;
}

.dashboard-item-box {
  cursor: pointer;
  margin-top: 2em;
}

.dashboard-item-box:hover {
  transform: scale(1.1);
}

.dashboard-item-img {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 1em;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.dashboard-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
