.register {
  /* width: 100vw;
  height: 100vh; */
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 20%;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
}

.registerTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm label {
  margin-bottom: 0.3em;
}

.registerForm input {
  margin-bottom: 1em;
  padding: 0.8em;
}

.registerForm p {
  color: #cc0000;
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.registerForm p::before {
  display: inline;
  content: "⚠ ";
}

.registerForm button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #1d1e42;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 1em 0 0.5em 0;
}

.registerLogin {
  width: 100%;
}

.registerLogin p {
  margin: 1em;
  font-size: 0.8rem;
  text-align: center;
}

.registerLogin button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #028a0f;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.8em;
}
