.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 20%;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
}

.login-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.3em;
}

.loginForm input {
  margin-bottom: 1em;
  padding: 0.8em;
}

.login-form p {
  color: #cc0000;
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.login-form p::before {
  display: inline;
  content: "⚠ ";
}

.login-form button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #1d1e42;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 1em 0 0.5em 0;
}

.login-register {
  width: 100%;
}

.login-register p {
  margin: 1em;
  font-size: 0.8rem;
  text-align: center;
}

.login-register button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #028a0f;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.8em;
}
