.verify-email {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verify-email-wrapper {
  width: 20%;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
}

.verify-email-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.verify-email-form {
  display: flex;
  flex-direction: column;
}

.verify-email-form input {
  margin-bottom: 1em;
  padding: 0.8em;
}

.verify-email-form button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #028a0f;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 1em 0 0.5em 0;
}
