style.

  body {
  overflow-y: hidden;
  overflow-x: hidden;
  }

  .content {
  width: 100%; 
  background-color: #8bf5d1; 
  padding: 1rem;
  }

  .content-greeting {
  font-size: 1rem;
  }

  .button{
  background-color: #2e6930;
  border-radius: 0.5em;
  width: 80px;
  border: 4px #ffffff;
  color: #ffffff;
  padding: 0.5em;
  cursor: pointer;
  }

  .footer {
  font-size: 0.8rem; 
  padding: 1rem; 
  margin-top:10px;
  }