extends base

block content

  body
    div.content
      div.content-greeting
        p
          | Hello 
          b #{firstName} #{lastName}
          | !
        p Please click the link to reset the password. The link will expire in 3 days.
        a(href=`${url}`, target='_blank')
          button.button(type='button') Reset